<html>
    <head>
        <title>Meterstanden</title>
        <script>
            function changeFigure() {
                var e = document.getElementById("timeSelectPower");
                var dropDownValue = e.options[e.selectedIndex].value;

                var figure = document.getElementById("figurePower");
                figure.src = "./figure/power/" + dropDownValue + ".png"
            }
        </script>
    </head>

    <body>
        <h2>Meterstanden</h2>
        <table>
            <tr>
                <td>T1 (laag tarief):</td>
                <td>{{ powerLow }}</td>
            </tr>
            <tr>
                <td>T2 (hoog tarief):</td>
                <td>{{ powerHigh }}</td>
            </tr>
            <tr>
                <td>Gas:</td>
                <td>{{ gas }}</td>
            </tr>
        </table>

        <h2>Power consumption</h2>
        <select id="timeSelectPower" onchange="changeFigure()">
            <option value="1">Last hour</option>
            <option value="3">Last 3 hours</option>
            <option value="6">Last 6 hours</option>
            <option value="12">Last 12 hours</option>
            <option value="24">Last 24 hours</option>
            <option value="48">Last 2 days</option>
        </select>
        
        <img src="./figure/power/1.png" id="figurePower"/>
    </body>
</html>
