<html>
    <head>
        <title>Meterstanden</title>
    </head>

    <body>
        <h2>Meterstanden</h2>
        <table>
            <tr>
                <td>T1 (laag tarief):</td>
                <td>{{ powerLow }}</td>
            </tr>
            <tr>
                <td>T2 (hoog tarief):</td>
                <td>{{ powerHigh }}</td>
            </tr>
            <tr>
                <td>Gas:</td>
                <td>{{ gas }}</td>
            </tr>
        </table>

        <h2>Power consumption</h2>
        <h3>Last hour</h3>
        <img src="/figure/power/1.png">
        <h3>Last 3 hours</h3>
        <img src="/figure/power/3.png">
        <h3>Last 6 hours</h3>
        <img src="/figure/power/6.png">
        <h3>Last 12 hours</h3>
        <img src="/figure/power/12.png">
        <h3>Last 24 hours</h3>
        <img src="/figure/power/24.png">
        <h3>Last 48 hours</h3>
        <img src="/figure/power/48.png">
    </body>
</html>